.LearnContainer {
  margin: auto;
  width: 100%;
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  li {
    position: relative;
    background-color: black;
  }
}
.item1 {
  grid-column: 1 / span 2;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.LearnTitle {
  margin-top: 50px;
  font-size: 40px;
}
